<%- include("../partials/head") %>
<title>Extras</title>
<%- include("../partials/head2") %>
    <%- include("navbar") %>
    <style>
        
        input[type="number"]{
            width:50px;
            border-color:dodgerblue;
            text-align: end;
        }

     </style>

        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">NOTE</h5>
                    </div>
                    <div class="modal-body">
                        <p id="errorMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box" id="heading">
            <h1> Extras </h1>
        </div>
        <div class="box">
            <br>
        <form action="/extras" method="post">
                <div class="mb-3">
                    <div class="table-grid">
                        <% for (let i=0; i < extrasMenu.length; i++) { %>


                            <div class="grid-item"><b>Name:</b></div>
                            <div class="grid-item">
                                <%=extrasMenu[i].name%>
                            </div>

                            <div class="grid-item"><b>Price:</b></div>
                            <div class="grid-item">
                                ₹<%=extrasMenu[i].price%>/-
                            </div>

                            <div class="grid-item"><input type="number" name="quantity" value="0" min="0" max="5"></div>
                            <% }%>
                    </div>
                </div>
                <div >
                    <button type="submit" class="buy" name="button">Order</button>
                </div>
            </div>
            
        </form>
        <script>
            const flag = '<%=flag%>';
                if (flag == 1) {
                    const message = "Extras are currently not available. Please try again later.";
                    const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                    document.getElementById('errorMessage').textContent = message;
                    errorModal.show();
                }
        </script>
        </body>

        </html>
