<%- include("../partials/head") %>
  <%- include("navbar") %>

    <div class="box" id="heading">
      <h1> My Orders </h1>
    </div>

    <div class="box">
      <% for (let i=0; i < orders.length; i++) { %>
        <div class="item">
          <p>
          <table>
            <% for (let j=0; j < orders[i].itemName.length; j++) { %>

              <tr>
                <td><b>Name:</b></td>
                <td>
                  <%=orders[i].itemName[j]%>
                </td>


                <td><b>Price: </b></td>
                <td>₹<%=orders[i].price[j]%>
                </td>


                <td><b>Quantity:</b></td>
                <td>
                  <%=orders[i].quantity[j]%>
                </td>

              </tr>


              <% }%>
                <tr>
                  <td><b>Total: </b></td>
                  <td>₹<%=orders[i].total%>
                  </td>
                </tr>
          </table>
          </p>
        </div>

        <% }%>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

          </body>

          </html>