<%- include("../partials/head") %>
  <title>Apply for Rebate</title>
  <%- include("../partials/head2") %>
    <%- include("../student/navbar") %>
      <!-- Example of a Bootstrap modal that displays an error message -->

<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">NOTE</h5>
        </div>
        <div class="modal-body">
          <p id="errorMessage"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <h2>Active rebate</h2>

            <div class="mb-3">
              <label for="startingDate" class="form-label"><b>Starting date</b></label>
              <input id="startingDate" class="form-control" value="<%= start_date %>">
              <label for="endingDate" class="form-label"><b>Ending Date</b></label>
              <input id="endingDate" class="form-control" value="<%= end_date %>">


              <label for="Status" class="form-label"><b>Status</b></label>
              <input id="Status" class="form-control" value="<%=status%>">

              <% if(start> curr_date || rebates[index].status == "pending" ) {%>
                <form action="/student/rebatewithdraw" method="post">
                  <button name="button" type="submit" class="btn btn-primary mt-3"
                    value="<%= rebates[index]._id %>">Withdaw</button>
                </form>
                <% }else { %>
                  <br>
                  <br>
                  <% } %>

            </div>


          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <h2>Apply for rebate</h2>
            <br>
            <form action="/rebate" method="post">
              <div class="mb-3">
                <label for="startingDate2" class="form-label"><b>Starting date</b></label>
                <input type="date" id="startingDate2" class="form-control" name="startDate">
                <br>
                <label for="endingDate2" class="form-label"><b>Ending Date</b></label>
                <input type="date" id="endingDate2" class="form-control" name="endDate">
                <br>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <script>
        const flag = '<%= flag %>';
        if (flag == 1) {
          const message = "There already exists an active rebate request";
          const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
          document.getElementById('errorMessage').textContent = message;
          errorModal.show();
        }
        else if (flag == 2) {
          const message = "you can't withdraw your rebate request past your starting date of request after aprooval and you can't put up another request before ending date after approval untill withdrawn.";
          const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
          document.getElementById('errorMessage').textContent = message;
          errorModal.show();
        }
        var startInput = document.getElementById("startingDate");
        startInput.addEventListener("keydown", function (event) {
          event.preventDefault();
        });
        var statusInput = document.getElementById("Status");
        statusInput.addEventListener("keydown", function (event) {
          event.preventDefault();
        });
        var endInput = document.getElementById("endingDate");
        endInput.addEventListener("keydown", function (event) {
          event.preventDefault();
        });
        var startInput2 = document.getElementById("startingDate2");
        startInput2.addEventListener("keydown", function (event) {
          event.preventDefault();
        });
        var endInput2 = document.getElementById("endingDate2");
        endInput2.addEventListener("keydown", function (event) {
          event.preventDefault();
        });
        var today = new Date();
        today.setDate(today.getDate() + 1);
        var tomorrow = today.toISOString().split('T')[0];
        document.getElementById("startingDate2").setAttribute('min', tomorrow);
        document.getElementById("endingDate2").setAttribute('min', tomorrow);

      </script>
      </form>
      </div>
      <div class="box" id="heading">
        <h1> Past Rebate requests </h1>
      </div>

      <div class="box">
        <% for (let i=0; i < rebates.length; i++) { %>
          <form class="item" action="/rebate/remove" method="post">
            <% if(rebates[i].displayStatus=="Inactive" ) { %>
              <p>
              <table>
                <tr>
                  <td><b>From:</b></td>

                  <td>
                    <%=rebates[i].startDate%>

                  </td>
                  <td><b>To:</b></td>
                  <td>
                    <%=rebates[i].endDate%>
                  </td>
                </tr>
                <tr>
                  <td><b>Days:</b></td>
                  <td>
                    <%=rebates[i].days%>

                  </td>
                  <td><b>Status:</b></td>
                  <td>
                    <%=rebates[i].status%>
                  </td>
                </tr>
              </table>
              </p>
              <% } %>
          </form>
          <% }%>
      </div>
      </body>

      </html>