<%- include("../partials/head") %>
<title>Complaints</title>
<%- include("../partials/head2") %>
    <%- include("navbar") %>

        <div class="box" id="heading">
            <h1> Complaints </h1>
        </div>

        <div class="box">
            <% for (let i=0; i < complaints.length; i++) { %>
                <form action="/manager/complaints" method="post">
                    <div class="item">
                        <p>
                        <table>
                            <tr>
                                <td><b>Roll:</b></td>
                                <td>
                                    <%=complaints[i].rollNo%>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Complaint:</b></td>
                                <td>
                                    <%=complaints[i].issue%>
                                </td>
                            </tr>
                        </table>
                        </p>
                    </div>
                    <div class="item"><input type="text" name="reply" placeholder="Reply" autocomplete="off" class="reply" maxlength="300">
                        <button type="submit" class="add" name="button"
                            value="<%=complaints[i]._id%>">Send</button>
                    </div>
                </form>
                <% }%>


        </div>
        </body>

        </html>