<%- include("../partials/head") %>
    <%- include("navbar") %>

        <div class="box" id="heading">
            <h1> Extras </h1>
        </div>
        <form action="/manager/extras/remove" method="post">
            <div class="box">
                <div class="mb-3">
                    <div class="table-grid">
                        <% for (let i=0; i < extrasMenu.length; i++) { %>
                            <div class="grid-item"><b>Name:</b> </div>
                            <div class="grid-item">
                                <%=extrasMenu[i].name%>
                            </div>
                            <div class="grid-item"><b>Price:</b></div>
                            <div class="grid-item">
                                ₹<%=extrasMenu[i].price%>/-
                            </div>
                            <div class="grid-item"><button type="submit" class="remove" name="button"
                                    value="<%=extrasMenu[i]._id%>">Remove</button>
                            </div>
                            <% }%>
                    </div>
                </div>
        </form>
        <form class="item" action="/manager/extras/add" method="post">
            <input type="text" name="newItem" placeholder="Name" autocomplete="off">
            <input type="text" name="price" placeholder="Price" autocomplete="off">
            <button type="submit" class="add" name="button" value="1">Add</button>
        </form>
        </div>
        </body>

        </html>