<%- include("../partials/head") %>
    <title>Extras</title>
    <%- include("../partials/head2") %>
        <%- include("navbar") %>
            <style>
                input[type="number"] {
                    border-color: dodgerblue;
                    text-align: end;
                    max-width: 400px
                }

                input[type="text"] {
                    width: 400px;

                }
            </style>

            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">NOTE</h5>
                            
                        </div>
                        <div class="modal-body">
                            <p id="errorMessage"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="box" id="heading">
                <h1> Extras </h1>
            </div>
            <div class="box">
                <br>
                <form action="/manager/extras/remove" method="post">

                    <div class="mb-3">
                        <div class="table-grid">
                            <% for (let i=0; i < extrasMenu.length; i++) { %>
                                <div class="grid-item"><b>Name:</b> </div>
                                <div class="grid-item">
                                    <%=extrasMenu[i].name%>
                                </div>
                                <div class="grid-item"><b>Price:</b></div>
                                <div class="grid-item">
                                    ₹<%=extrasMenu[i].price%>/-
                                </div>
                                <div class="grid-item"><button type="submit" class="remove" name="button"
                                        value="<%=extrasMenu[i]._id%>">Remove</button>
                                </div>
                                <% }%>
                        </div>

                </form>

                <form class="item" action="/manager/extras/add" method="post">
                    <input type="text" name="newItem" placeholder="Name" autocomplete="off" maxlength="20"
                        class="newItem" required>
                    <input type="number" class="duePaid" name="price" placeholder="Price" autocomplete="off" min="1"
                        max="500" required>
                    <button type="submit" class="add" name="button" value="1" style="margin-left: 50px;">Add</button>
                </form>
            </div>
            </div>

            <script>
                const flag = '<%= flag %>';
                if (flag == 1) {
                    const message = "Item added successfully";
                    const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                    document.getElementById('errorMessage').textContent = message;
                    errorModal.show();
                }
                else if (flag == 2) {
                    const message = "Item removed successfully";
                    const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                    document.getElementById('errorMessage').textContent = message;
                    errorModal.show();
                }

            </script>

            </body>

            </html>